<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link
	href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900"
	rel="stylesheet">

</head>

<body>

	<div th:fragments="footer">

		<footer class="container" style="padding: 20px">
			<div class="my-5 pt-5 text-muted text-center text-small">
				<hr class="featurette-divider">

				<p class="mb-1" style="margin-top: 60px; margin-bottom: 60px;">
					Blog by Thiago Martins 
				</p>
				<p class="mb-1" style="padding-top: 10px">
					<a href="https://github.com/tg-martins">GitHub</a>
				</p>
			</div>
		</footer>
	</div>

</body>
</html>