<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link
	href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900"
	rel="stylesheet">
<link href="/bootstrap/css/blog.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css"
	rel="stylesheet">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>

<title>MyBlog</title>
</head>

<body>
	<div th:replace="fragments/cabecalho :: navbar"></div>

	<div class="container" style="width: 70%; padding-top: 20px">
		<h1>New Post</h1>
		<form style="padding-top: 20px" th:action="@{/newpost}" method="POST">
			<div class="form-group">
				<label for="formPost">Title</label> <input type="text"
					class="form-control" name="titulo" placeholder="Post title"
					required>
			</div>
			<div class="form-group">
				<label for="formPost">Author</label> <input type="text" name="autor"
					class="form-control" placeholder="Post Author" required>
			</div>
			<div class="form-group">
				<label for="formPost">Category</label> <select class="form-control"
					name="categoria" required>
					<option>Java</option>
					<option>C Sharp</option>
					<option>HTML</option>
					<option>Design</option>
					<option>JavaScript</option>
					<option>Python</option>
					<option>PHP</option>
					<option>Ruby</option>
					<option>Perl</option>
					<option>Spring Framework</option>
					<option>Entity Framework</option>
					<option>Others</option>
				</select>
			</div>
			<div class="form-group">
				<label for="formPost">Text</label>
				<textarea id="summernote" type="text" class="form-control"
					name="texto" placeholder="Texto *"></textarea>
			</div>

			<button type="submit" class="btn btn-primary"
				style="margin-top: 10px;">Publicar</button>
			<a href="/posts" class="btn btn-secondary" role="button"
				style="margin-top: 10px; margin-left: 10px">Cancelar</a>
		</form>
	</div>
	<script>
		$('#summernote').summernote({
			placeholder : 'Texto *',
			tabsize : 2,
			height : 200
		});
	</script>

</body>

<div th:replace="fragments/rodape :: footer"></div>


</html>